node_modules/
dist/
.env
.env.local
*.log
.DS_Store

# Terraform
Terraform/.terraform/
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/modulo5-key.pem

*.ps1
*.csv
*.xlsx
*.txt